<div class="help" id="group_sharing">
    <p>
    The group may be created with your choice of options: Private, shared - read only, or shared (editable).
    </p>
    <ul>
        <li>Private: creator only access.</li>
        <li>Shared-Read Only: may be viewed and used by others but not edited by them.</li>
        <li>Shared: allowed to be used by others designated by check box selection and role.</li>
    </ul>
</div>
