<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
<!--#if expr="$SERVER_NAME = myinfovault.ucdavis.edu" -->
<!--#set var="trackerCode" value="'UA-4670080-2'" -->
<!--#else -->
<!--#set var="trackerCode" value="'UA-4670080-1'" -->
<!--#endif -->

var pageTracker = _gat._getTracker(<!--#echo var="trackerCode" -->);
pageTracker._initData();
pageTracker._trackPageview();
</script>
