/*
 * Style for academicaction.jsp.
 */


/* Make Mac+Safari search look plain. This allows the spinner graphic to show up. */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
div.usersearch input#usersearch {
	-webkit-appearance: none;
	-webkit-box-sizing: content-box;
}

/*
 * Academic action edit warning.
 */
div#warning {
	margin-bottom: 1ex;
}
div#warning .sticky {
	font-size: 1em;
	font-weight: bold;
	color: #D53344;
}
div#warning .sticky.active {
	padding: 1em;
	background-color: white;
}

/* Only New Appointment warning. */
p.attention:before {
	content: url("../images/error.png");
	vertical-align: middle;
}

/*
 * Form labels and legends.
 */
legend, label {
	font-weight: bold;
}
.title fieldset fieldset {
	border: none;
	margin: 0;
}


/*
 * Form cell to encapsulate input and label.
 */
.cell {
	white-space: nowrap;
	padding: 0.5em 0.5em 0.5em 0;
	display: inline-block;
	border: none;
	margin: 0;
}
fieldset.cell label {
	font-weight: normal;
}
fieldset.cell legend {
	float: left;
}
.cells {
	padding: 0;
	border: none;
	margin: 0;
	display: inline-block;
}

/*
 * Fieldset formlines should not have borders.
 */
fieldset.formline {
	border: none;
}

/*
 * A colon follows all labels except ones for radio selections.
 */
label:after, fieldset.cell legend:after {
	content: ":";
}
input[type=radio] + label:after {
	content: " ";
}
input[type=radio] + label {
	margin-left: 2px;
}


/*
 * Contact labor relations error message
 */
p.proceeding-error {
	color: #AE3C3C;
	font-weight: 900;
}


/*
 * Assignments alternating color.
 */
.assignment > fieldset {
	background-color: #F2EBCC;
}


/*
 * Disabled element.
 */
.disabled {
	color: grey;
}


/*
 * Accordion elements.
 */
.title, .assignment, .sections {
	position: relative;
	margin-bottom: 2ex;
}
#main div.sections > div {
	padding: 1em;
}
div.sections .formhelp {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#main div.formline {
	margin-bottom: 0;
}


/*
 * Positioning for remove assignment/title buttons
 */
.title > button.remove,
.assignment > button.remove {
	position: absolute;
	top: .5ex;
	right : .2em;
}
/*
 * Do not display title remove button if only title in assignment
 */
.title:first-of-type:last-of-type > button.remove {
	display: none;
}
/*
 * Only display add/remove assignment buttons if an APPOINTMENT
 */
.sections button {
	display: none;
}
.sections.APPOINTMENT button,
.sections .title button,
.sections .assignment button.add {
	display: inline;
}

/*
 * Suggestion widget suggestion categories headers
 */
.custom-suggestion-category {
	font-weight: bold;
	background-color: #D3D3D3;
	padding: .5em;
}


/*
 * These styles should be implemented in a jQuery-UI theme.
 */
#main .ui-accordion .ui-accordion-header {
	/*background: url("/miv/images/jquery-ui/ui-bg_fine-grain_15_ffffff_60x60.png") repeat scroll 50% 50% transparent;*/
	color: #335185;
}
#main .ui-accordion .ui-accordion-header .ui-icon {
	background-image: url("/miv/images/jquery-ui/ui-icons_222222_256x240.png");
}
#main .ui-accordion .ui-accordion-header.ui-state-active {
	color: #3079ED;
}
#main .ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
	background-image: url("/miv/images/jquery-ui/ui-icons_2694e8_256x240.png");
}
#main .ui-accordion .ui-accordion-header.ui-state-focus,
#main .ui-accordion .ui-accordion-header.ui-state-hover {
	background: none #CCD4E0;
}


/*
 * Present/Proposed status blocks
 */
#status-block {
	padding: 0;
}
#status-block > div {
	padding: 0;
	width: 100%;
}
#status-block fieldset.status > legend {
	margin-top: 1em;
}
#status-block fieldset.status {
	border: none;
}
div#PRESENT,
div + #status-block > div {
	width: 50%;
	float: left;
}


/*
 * Candidate questions
 */
div#questions {
	counter-reset: question;
}
div#questions fieldset label {
	font-weight: normal;
}
div#questions legend:before {
	counter-increment: question;
	content: counter(question, decimal) ".";
	margin-right:0.5em;
	font-size: inherit;
	color: inherit;
}
div#questions legend.f_required:after {
	color: #D53344;
	content: "*";
	font-size: 1.5em;
	font-weight: bolder;
	line-height: 0.8em;
	vertical-align: middle;
}
div#questions fieldset p {
	font-style: italic;
	margin: 0.5em 0 0;
}


/*
 * When window width < 1100px
 */
@media (max-width: 1100px) {
	#status-block > div {
		width: 100%;
		float: none;
	}
}
/*
 vim: tabstop=8 shiftwidth=8 noexpandtab shiftround:
*/
