/*
 * Style for createaction.jsp
 */
.label:after {
	content: ":";
	font-weight: bold;
}

.haserrors {
	margin-bottom: 1em;
}

#main .inline-formline {
	float: left;
	margin-right: 1em;
}

a.button {
	background-image: none;
	background-color: #FFFFFF;
	border-color: #999999;
	border-radius: 0 0 0 0;
	border-style: outset;
	border-width: 1px 2px 2px 1px;
	cursor: pointer;
	font-size: 0.91em;
	padding: 1px 5px;
	vertical-align: middle;
	text-decoration: none;
	color: black;
}

a.button:hover {
	border-color: #3079ED;
	border-style: solid;
}

form {
	clear: both;
}
