/*
 * Style sheet for myinfovault.ucdavis.edu pages
 *
 * Used for:
 *  - common dossier header pages
 */

@CHARSET "UTF-8";

#main div.summary {
	min-width: 45%;
}

/* These next two should be eliminated in favor of having "background-color: inherit" down the chain. */
#main div.summary {
	background-color: #FFFFFF;
}

html.SYS_ADMIN.prod body #main div.summary {
	background-color: #FFF4F4;
}

#main div#sticky .dossier-buttons {
	margin-top: -2.15em;
	width: 100%;
}

#main .active .location {
	margin: 0.5em 0 0;
}

#main .location {
	margin: 0.5em 0 1em;
}

.routedDate {
	font-style: italic;
	font-weight: normal;
}

.actionDescription {
	font-weight: bold;
}

.displayName {
	font-weight: bold;
	font-size: 110%;
}

.submitDate {
	margin-left: 1.5em;
}
/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
