/* ----- Main style sheet to provide spand and collaps feature ----- */

div.mivDialog fieldset {
	border-radius: 4px 4px 4px 4px;
	background: transparent;
	border: thin solid #444;
	padding: 0.35em 0.625em 0.75em 0.625em; /* bad IE. bad. */
	margin-bottom: 1em;
}

div.mivDialog fieldset.collapsed {
	padding-top: 0;
	padding-bottom: 0.5em;
	min-height: 2.5em;
}

div.mivDialog fieldset legend {
	font-weight: bold;
}

html.js div.mivDialog fieldset legend {
	font-weight: bold;
	padding-right: 1.5em;
	/*margin-right: 0.5em;*/ /* not needed */
	cursor: pointer;
}

html.js div.mivDialog fieldset legend {
	background: transparent url("/miv/images/disclose-opened.gif") no-repeat scroll 98% 50%;
}

div.mivDialog fieldset legend a {
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
}

div.mivDialog fieldset legend a:hover,
div.mivDialog fieldset legend a:focus {
	color: #3079ED;
}

html.js div.mivDialog fieldset.collapsed legend {
	background: transparent url("/miv/images/disclose-closed.gif") no-repeat scroll 98% 50%;
}

div.mivDialog fieldset div.hint {
	display: none;
}

div.mivDialog fieldset.collapsed div.hint {
	display: block;
	float: right;
	color: #999;
	font-weight: normal;
	margin: 0;
	padding: 0;
}


/* more/less button to expand & collapse a section. Used on publication import list page. */
html.js div.moreless {
	overflow: hidden;
}

html.js div.moreless.collapsed {
	height: 1.5em;
}

html.js div.moreless button {
	float: right;
	line-height: 1em;
	width: 3.5em;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
