@CHARSET "UTF-8";

#main {
	min-width: 53em;
}

#main .groupblock {
	min-width: 48%;
}

fieldset.mivfieldset {
	padding-left: 0;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */
