/* ----- Style sheet for myinfovault.ucdavis.edu ENTER DATA List pages ----- */

span.styleB {
	font-weight: bold !important;
	font-style: inherit !important;
	text-decoration: inherit !important;
}

span.styleI {
	font-weight: inherit !important;
	font-style: italic !important;
	text-decoration: inherit !important;
}

span.styleU {
	font-weight: inherit !important;
	font-style: inherit !important;
	text-decoration: underline !important;
}

span.styleBI {
	font-weight: bold !important;
	font-style: italic !important;
	text-decoration: inherit !important;
}

span.styleBU {
	font-weight: bold !important;
	font-style: inherit !important;
	text-decoration: underline !important;
}

span.styleIU {
	font-weight: inherit !important;
	font-style: italic !important;
	text-decoration: underline !important;
}

span.styleBIU {
	font-weight: bold !important;
	font-style: italic !important;
	text-decoration: underline !important;
}

/* vim:ts=8 sw=8 noet sr:
   EOF -- Don't put anything after this line. */