/*Styles for PubMed page have been seperated out*/
#main #links {
	margin-bottom: 1em;
}

#main.designer ul.mivrecords {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: -0.15em !important;
}

#main.designer ul.mivrecords li {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.mivrecords li p {
	margin: 0 !important;
}
div#workarea {
	border: 1px solid black;
}

div.selectall {
	font-size: 0.8em;
	font-weight: bold;
	background-color: #f2ebcc;
	padding-left: 1ex;
	padding-bottom: 4px;
	border-bottom: 1px solid black;
}
.designer .sectionsubhead h4 {
	display: inline;
	margin: 0 1ex;
}

div.sectionbody {
	padding-left: 0;
	padding-top: 2px;
}

div.listblock {
	clear: both;
	border-top: 1px dotted #92453c;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

div.listblock:hover {
	background-color: #f0f0f0;
}

div.listblock cite {
	font-style: normal;
}
div.listblock cite .title {
	font-style: italic;
}

div.printable {
	clear: both;
}

div.selectoption {
	/*float: left;*/
	display: inline;
}

div.listblock p {
	/*float: left;*/
	width: 95%;
	display: block;
}

/* Temporary, for visibility */
.mivrecords li div {
	/*border: 1px solid green;*/
	/*margin: 4px;*/
	/*padding: 0 3px;*/
	margin: 1px;
	padding: 0 1px;
}


div#main record ul li {
	margin: 0;
	padding-left: 0.5em;
}

div.preview ul {
	list-style-position: outside;
	list-style-type: disc !important;
	margin-left: 2.5em !important;
	padding-left: 0 !important;
}
div.preview ol {
	list-style-position: outside;
	list-style-type: decimal !important;
	margin-left: 3em !important;
	padding-left: 0 !important;
}

div#main record ol li {
	background-color: transparent;
	color: #000000;
	margin: 0;
	padding-left: 2em;
}

span.ERR_MISSING {
	font-weight: bold !important;
	color: #f01010 !important;
}

/* vim:ts=8 sw=8 noet sr:
*/
