div#character_map {
	display: none;
	position: absolute;
	background-color: white;
	cursor: default;
	margin-top: 100px;
	z-index: 10;
}

div#character_map > table {
	border-color: black;
	border-width: thin;
}

div#character_map table tr td {
	font-family: Verdana,Helvetica,Arial,sans-serif,Symbol;
}

div#character_map table tr td:hover {
	background-color: #F2EBCC;
}

div#character_map table tr td.warning {
	font-family: sans-serif;
	font-size: 9pt;
}

span.red {
	color: red;
}

@media print {
	div#character_map {
		display: none !important;
		visibility: hidden !important;
		z-index: 0 !important;
	}
}

/* vim:ts=8 sw=8 noet sr:
*/
