.container {
    width: 50%;
    min-height: 110px;
    padding: 5px;
    background-color: blue;
    margin-bottom: 5px;
    white-space: normal;
}

.container > .ui-draggable {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: red;
    display: inline-block;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.container > .ui-draggable:active {
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.placeholder-glow {
    box-shadow: inset 0 0 5px 5px rgb(0, 255, 255);
    margin: 5px;
    opacity: 0;
    display: inline-block;
}
