/* Custom CSS for TinyMCE Editor */

body,td,pre {
	font-family: Verdana,Geneva,Helvetica,Arial,sans-serif !important;
	font-size: 0.8em !important;
}

blockquote {
	margin: 0;
	padding-left: 0 0 0 2em;
}

ol,ul {
	margin: 0 0 0 2em;
	padding: 0;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	padding-left: 0.2em;
}

li.indentoutdent {
	list-style-type: none;
	margin: 0;
	padding-bottom: 0;
	padding-top: 0;
}

table {
	border-collapse: collapse;
}

table,td,th {
	border-color: #000000;
}

p {
	margin: 0;
	padding: 0;
}

td,th {
	height: 1.7em;
}

.mceContentBody table,
.mceContentBody table th,
.mceContentBody table td {
	vertical-align: top;
}

/* vim:ts=8 sw=8 noet sr:
*/
